<% if (success === "true") { %>
<div class="row">
  <% if (action === "create") { %>
  <div class="alert alert-success" role="alert">Product successfully added</div>
  <% } else if (action === "update") { %>
  <div class="alert alert-info" role="alert">Product successfully updated</div>
  <% } else if (action === "delete") { %>
  <div class="alert alert-danger" role="alert">
    Product successfully deleted
  </div>
  <% } else if (action === "forbidden") { %>
  <div class="alert alert-danger" role="alert">⚠️ Admins Only ⚠️</div>
  <% } %>
</div>
<% } %>
