<footer class="footer mt-auto py-3 bg-dark fixed-bottom">
    <div class="container footer-container">
      <span class="text-muted">Copyright 2021 - Bukit Timah Auto & Cycle Supplies Pte Ltd</span>
    </div>
  </footer>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>