<%- include("partials/header.ejs") %>
<div id="title">
  <h4>You may contact us at the following</h4>
  <p>913 Bukit Timah Rd, Singapore 589623<br />Tel:+656446 7889</p>
  <div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18551.084323681567!2d103.80177055666745!3d1.3346445078032745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da109b1102520f%3A0xf6a09cdbe07b921e!2sBUKIT%20TIMAH%20Nissan%20service!5e0!3m2!1sen!2ssg!4v1630409156683!5m2!1sen!2ssg"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
</div>

<%- include("partials/footer.ejs") %>
