body {
  background-image: url("https://images.unsplash.com/photo-1454117096348-e4abbeba002c");
  font-family: "Electrolize", sans-serif;
}

#title {
  text-align: center;
}

.product-container {
  margin: 0 50px;

  width: auto;
  text-align: center;
}

.product {
  width: 250px;
  display: inline-flex;
  margin: 5px;
  height: auto;
  text-align: center;
  border-radius: 5px;
  padding-top: 3px;
  background-color: lightgray;
  padding: 10px;
}

.image-container {
  margin: auto;
  text-align: center;
  padding: 5px;
  vertical-align: middle;
  width: 220px;
  height: 220px;
  background-color: white;
  border-radius: 5px;
}

.product-image {
  max-height: 200px;
  max-width: 200px;
  height: auto;
  width: auto;
}

#purchase-qty {
  width: 100px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: blue;
}

.alert {
  margin: 20 auto;
  text-align: center;
  width: 500;
}

.hp-link {
  font-weight: 900;
}

.sold-out {
  color: darkred;
}

.form-control {
  width: 600px;
}

.container .mb-3 {
  margin: auto;
}
